{% extends "photologue/root.html" %}

{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<h2>{% trans "Originally published" %} {{ object.date_added|date:"l, F jS, Y" }}</h2>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<div class="pl-gallery">
    {% include "photologue/gallery_items.html" with items=object.public %}
</div>
<p><a href="{% url pl-gallery-list 1 %}">{% trans "View all galleries" %}</a></p>

{% endblock %}
