{% extends "photologue/root.html" %}

{% load i18n %}
{% load photologue_tags %}

{% block title %}{% trans "Latest" %} {{ media_name_plural }}{% endblock %}

{% block content %}

<h1>{% trans "Latest" %} {{ media_name_plural }}</h1>

{% if latest %}
	{% include "photologue/gallery_items.html" with items=latest %}
{% else %}
    <p>{% trans "No" %} {{ media_name_plural }} {% trans "were found." %}</p>
{% endif %}

<p><a href="{% media_url 'pl-TYPE-list' media_type 1 %}">{% trans "View all" %} {{ media_name_plural|lower }}.</a></p>

{% endblock %}
