{% extends "photologue/root.html" %}

{% load i18n %}
{% load photologue_tags %}

{% block title %}{{ media_name_plural }} {% trans "for" %} {{ month|date:"F Y" }}{% endblock %}

{% block content %}

<h1>{{ media_name_plural}} {% trans "for" %} {{ month|date:"F Y" }}</h1>

{% if object_list %}
    {% gallery_items object_list %}
{% else %}
    <p>{% trans "No" %} {{ media_name_plural }} {% trans "were found." %}</p>
{% endif %}

<p><a href="{% media_url 'pl-TYPE-list' media_type 1 %}">{% trans "View all" %} {{ media_name_plural|lower }}.</a></p>

{% endblock %}
