{% extends "photologue/root.html" %}

{% load i18n %}
{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{% include "photologue/video_head.html" %}
{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<div class="pl-video">
    {% if object.get_display_mp4_size %}
        <video id="video-js-{{ object.id }}" class="video-js vjs-default-skin" controls preload="metadata"
            width="{{ object.get_display_mp4_size.width }}"
            height="{{ object.get_display_mp4_size.height }}" poster="{{ object.get_display_url }}" data-setup="{}">

      {% if object.get_display_flv_url %}
          <source src="{{ object.get_display_flv_url }}" type='video/flv' />
      {% endif %} {% if object.get_display_mp4_url %}
          <source src="{{ object.get_display_mp4_url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      {% endif %} {% if object.get_display_ogv_url %}
          <source src="{{ object.get_display_ogv_url }}" type='video/ogg; codecs="theora, vorbis"' />
      {% endif %} {% if object.get_display_webm_url %}
          <source src="{{ object.get_display_webm_url }}" type='video/webm; codecs="vp8, vorbis"' />
      {% endif %}
      </video>
    {% else %}
        <img src="{{ object.get_display_url }}" alt="{{ object.title}}">
    {% endif %}
    <p><a href="{{ object.file.url }}">Download</a><p>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>
{% if object.public_galleries %}
<h2>{% trans "This video is found in the following galleries" %}:</h2>
<ol>
{% for gallery in object.public_galleries %}
    <li>{% previous_in_gallery object gallery %} <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> {% next_in_gallery object gallery %}</li>
{% endfor %}
</ol>
{% endif %}

{% endblock %}
