{% extends "photologue/root.html" %}

{% load i18n %}
{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{% include "photologue/video_head.html" %}
{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
{% if object.convertion_unfinished %}
	<p> {% trans "Video convertion in progress." %} </p>
{% endif %}
<div class="pl-video">
    {% if object.get_display_mp4_size %}
		{{ object.increment_count|default:'' }}
        <video id="video-js-{{ object.id }}" class="video-js vjs-default-skin" controls preload="metadata"
            width="{{ object.get_display_mp4_size.width }}"
            height="{{ object.get_display_mp4_size.height }}" poster="{{ object.get_display_url }}" data-setup="{}">
			{% video_sources object "display" %}
      </video>
    {% else %}
        <img src="{{ object.get_display_url }}" alt="{{ object.title}}">
    {% endif %}
	<p>Downloads: {% video_downloads object "display" %}</p>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>
{% if object.public_galleries %}
<h2>{% trans "This video is found in the following galleries" %}:</h2>
<ol>
{% for gallery in object.public_galleries %}
    <li>{% previous_in_gallery object gallery %} <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> {% next_in_gallery object gallery %}</li>
{% endfor %}
</ol>
{% endif %}

{% endblock %}
