{% extends "photologue/root.html" %}

{% load i18n %}
{% load photologue_tags %}

{% block title %}{{ model_name_plural|capfirst }} {% trans "for" %} {{ year }}{% endblock %}

{% block content %}

<h1>{{ model_name_plural|capfirst }} {% trans "for" %} {{ year }}</h1>

<ul>
    {% for date in date_list %}
        <li><a href="{{ date|date:"M"|lower }}/">{{ date|date:"F" }}</a></li>
    {% endfor %}
</ul>

<p><a href="{% model_url 'pl-TYPE-list' model_type 1 %}">{% trans "View all" %} {{ model_name_plural|lower }}.</a></p>

{% endblock %}
